@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.card::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  overflow: hidden;
  width: 5px;
  background: #fafafa;

  -webkit-border-radius: 3px;
  border-radius: 3px;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-piece {
  background: #eee;
}
::-webkit-scrollbar-piece:start {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  background: #333;
}
::-webkit-scrollbar-corner {
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  background: #333;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
